/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Lato:300);


/* Tag-specific CSS */

body {
    background: #BBB !important;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

section {
    padding: 6em 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FFF;
}

hr {
    background-color: #FFF;
}

a:link, a:visited {
    outline: 0;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* End of Tag-specific CSS */



/* Navbar CSS */
.nav-link.active {
    color: #0275d8 !important;
}

.nav-item a:hover {
    color: #55a1fc !important;
}

/* End of Navbar CSS */



/* Section-specific CSS */
.jumbotron {
  height: 70vh;
  display: flex;
  align-items: center;
  background-image: url(../img/city.jpg);
  margin-bottom: 0px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

#landing {
  color: white;
}


#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(2, 117, 216, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}

.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
#contact {
    padding-bottom: 10em;
}

#footer {
    height: 7em;
    background-color: #EEE;
    padding: 3em 0;
    font-size: 12px;
}

/* End of Section-specific CSS */



.title {
    color: #FFF;
    padding-top: 20vh;
}

.intro {
    margin-bottom: 5em;
    padding: 0 10px;
}

.blacktext {
    color: #000;
    margin-bottom: 5em;
}

.contactinfo {
    text-align: center;
    margin-bottom: 5em;
}

.page-header {
    margin-top: 0;

}

.panel-body {
    padding-top: 0;
}

.featuredImg {
    margin-bottom: 15px;
}

.bg-faded {
    background-color: rgba(250,250,250,0.94);
}

.description {
    padding-top: 5em;
}

.description2 {
    padding-top: 8em;
}

.description3 {
    padding-top: 2em;
}

.social-icons {
    padding-top: 10px;
    margin-bottom: 35px;
}

.social-icons .btn.btn-clear {
    border: 1px solid #fff;
}

.btn.btn-clear {
    border: 1px solid #fff;
    color: #fff;
    background: none;
    background-color: none;
    font-weight: bold;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.btn-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0;
}

.btn-round i {
    font-size: 20px;
    top: 15px;
    position: relative;
}

.me {
    max-height: 400px;
}

#me {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.resumelink {
    color: #FFF;
}

.resumelink:hover {
    color: #DDD;
}

.ss-wrapper {
    position: relative;
    margin-top: 20px;
    border: 3px solid #dcdcde;
    padding-top: 20px;
    background: #dcdcde;
    -webkit-border-top-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.ss-wrapper .browser-gui {
    position: absolute;
    top: 0;
    left: 4px;
}

.ss-wrapper .browser-gui span.browser-dot {
    display: block;
    float: left;
    margin: 5px 3px;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #626262;
}

#contact-name {
    padding-left: 22px;
    padding-right: 21px;
}

#contact-email {
    padding-left: 24px;
    padding-right: 24px;
}


/* Size-specific CSS */

@media (max-width: 992px) {
    #experience {
        min-height: 150vh;
    }
}

@media (max-width: 1199px) {
    .description {
        padding-top: 2em;
    }
    .description2 {
        padding-top: 3em;
    }
    .description3 {
        padding-top: 0em;
    }
}

@media (min-width: 992px) {
    .col-lg-9 {
        padding: 0 5em;
    }
}

@media (max-width: 543px) {
    .navbar {
        height: inherit;
    }
    .navbar-nav .nav-item {
        float: none;
        text-align: center;
        display: block;
    }
    .navbar-nav .nav-item+.nav-item {
        margin-left: 0;
    }
}

/* End of Size-specific CSS */
